<div class="wrapper">
  <header>
    <a href="#"><h1>Hi! </h1></a>
    <h6>What's going on ? </h6>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Introduction -->
  <div class="introduction">
    Hi!, we are the first choice for your <strong>creative</strong> company or agency, <br>
    here you can put <em> whatever</em> you want, or just show your amazing work
  </div>

  <!-- Slider -->
  <div id="slider">
    <img src="images/slides/slide1.png" alt="Artistic Picture"/>
    <span class="left navControl">Previous</span>
    <span class="right navControl">Next</span>
    <ul>
      <li></li>
      <li class="active"></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- End of Slider -->
  <!-- "The Pitch" -->
  <div class="pitch left">
    <div></div>
    <h6>You don't believe us ?</h6>

    <p>
      Ripley Street was deserted, and except for a lighted window or so the village showed not a sign of life; but I
      narrowly escaped an accident at the corner of the road to Pyrford, where a knot of people stood with their backs
      to me.
    </p>
  </div>

  <div class="pitch middle">
    <div></div>
    <h6>Why should you ?</h6>

    <p>
      Ripley Street was deserted, and except for a lighted window or so the village showed not a sign of life; but I
      narrowly escaped an accident at the corner of the road to Pyrford, where a knot of people stood with their backs
      to me.
    </p>
  </div>

  <div class="pitch right">
    <div></div>
    <h6>You really should! </h6>

    <p>
      Ripley Street was deserted, and except for a lighted window or so the village showed not a sign of life; but I
      narrowly escaped an accident at the corner of the road to Pyrford, where a knot of people stood with their backs
      to me.
    </p>
  </div>

  <!-- Newsletter -->
  <section class="newsletter">
    <div class="left">
      <h4> Join to our Newsletter </h4>
      <h5> Amazing news just for you! </h5>
    </div>

    <div class="right">
      <em>
        Pyrford Church behind me, and then came the silhouette of Maybury Hill, with its tree-tops and roofs black and
        sharp against the red.
      </em>

      <button>Sign Up</button>
    </div>

  </section>

</div>

<!-- Aside from out main content -->
<aside>
  <div class="wrapper">
    <section class="about">
      <h6> About Us </h6>

      <p>
        As I ascended the little hill beyond Pyrford Church the glare came into view again, and the trees about me
        shivered with the first intimation of the storm that was upon me.
        <a href="#" class="button"> Read More </a>
      </p>
    </section>

    <section class="photostream">
      <h6> Photostream </h6>

      <p>
        As I ascended the little hill beyond Pyrford Church the glare came into view again, and the trees about me
        shivered with the first intimation of the storm that was upon me.
      </p>
    </section>

    <section class="tweets">
      <h6> Twitter Feed </h6>

     <span class="tweet">
        <a href="#">@creativaone</a> see this psd template, its awesome, I love all his colors <a href="#">http://bit.ly.TMILh</a>
        <span> 12:30 PM Nov 28th from web </span>
      </span>

     <span class="tweet">
       falala lalala la la la
        <span> 12:30 PM Nov 28th from web </span>
      </span>

     <span class="tweet">
        <a href="#">@creativaone</a> see this psd template, its awesome, I love all his colors <a href="#">http://bit.ly.TMILh</a>
        <span> 12:30 PM Nov 28th from web </span>
      </span>

      <a href="#" class="button"> Follow Us </a>
    </section>

    <section class="contacts">
      <h6> Get Social </h6>
      <a href="#" class="facebook">Stalk us on facebook</a>
      <a href="#" class="twitter">Follow us on Twitter</a>
      <a href="#" class="dribbble">Latest hots on Dribbble</a>
      <a href="#" class="skype">Call us on Skype</a>
    </section>

  </div>
</aside>

<!-- Footer -->
<footer>

  <div class="wrapper">
    <div id="bottomLogo"></div>

    Copyright © 2010 Hi! All rights reserved. W3C standard website. Valid HTML5 &amp; CSS3 <br>
    Hi! Design by <a href="#">Darío Pineda</a>,
    Markup by <a href="#">@Methemer</a>


  </div>
</footer>

